@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import './css-reset.css';

:root {
  /* Colors */

  --main-bg-clr: 240, 245, 248;
  --add-book-section-bg-clr: 225, 230, 233;
  --primary-general-clr-100: 214, 228, 255;
  --primary-general-clr-400: 102, 144, 255;
  --primary-general-clr-800: 16, 38, 147;
  --secondary-general-clr-100: 217, 254, 251;
  --secondary-general-clr-400: 115, 231, 251;
  --secondary-general-clr-800: 22, 91, 144;
  --success-clr-100: 236, 253, 215;
  --success-clr-400: 149, 236, 103;
  --failure-clr-100: 255, 236, 211;
  --failure-clr-400: 255, 155, 93;

  /* Spacing */
  --gap-lg: 3rem;
  --gap-md: 1.3rem;
  --gap-sm: 0.8rem;
  
  /* Font */
  --font-lg: calc(2rem + 1vw);
  --font-md: calc(1.4rem + 15%);
  --font-sm: calc(1rem + 0.5vw);

  /* Borders */
  --main-brd-rad: 2em;
  --secondard-brd-rad: 1.3em; 
}

html,
body {
  height: 100vh;
  background-color: rgb(var(--main-bg-clr));
}

body {
  display: grid;
  place-content: center;
}

.main-container {
  width: 60vw;
  height: 90vh;

  display: grid;
  grid-template-rows: 1.75fr 1.25fr;
  gap: var(--gap-sm);
  overflow: hidden;

  font-size: var(--font-lg);
}

.add-to-library {
  height: 100%;
  display: grid;

  background-color: rgb(var(--add-book-section-bg-clr));
  padding: 4rem;
  border-radius: 2rem;
}

.add-to-library .form {
  font-size: 2rem;
  height: 100%;
  display: grid;
  gap: var(--gap-md);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
}

.form label {
  height: 100%;
  width: 100%;

  font-family: 'Roboto', sans-serif, var(--system-ui);
  font-weight: 700;
  display: flex;
  justify-content: start;
  align-items: center;
  padding:  0 4rem;
}

.form input[type="text"] {
  height: 100%;
  width: 100%;
  border: none;
  border-left: 4px solid rgb(var(--secondary-general-clr-800));
  border-bottom: 4px solid rgb(var(--secondary-general-clr-400));
  border-radius: 2rem;

  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 4rem;
}

.form input[type="text"]:focus {
  outline: none;
  border: none;
  border-left: 4px solid rgb(var(--success-clr-400));
  border-bottom: 4px solid rgb(var(--secondary-general-clr-800));
  transition: all 250ms ease-in-out;
  background-color: rgb(var(--primary-general-clr-100));
}

#btn {
  grid-column: 1 / -1;
}

.yes-wrapper {
  flex: 0 1 25%;

  display: flex;
  align-items: center;
}

.yes-wrapper label {
  flex: 2;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="radio"] {
  flex: 0 1 auto;

  appearance: none;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid rgb(var(--secondary-general-clr-800));
  border-radius: 50%;

  display: grid;
  place-content: center;
}

input[type="radio"]:checked {
  border: 0.10em solid rgb(var(--secondary-general-clr-800));
}

input[type="radio"]::before {
  content: '';
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 120ms ease-in-out;
  box-shadow: inset 1em 1em rgb(var(--success-clr-400));
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

.no-wrapper {
  flex: 0 1 25%;

  display: flex;
  align-items: center;
}

.no-wrapper label {
  flex: 75;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.radio {
  height: 100%;
  width: 100%;
  display: flex;
}

#btn {
  border: 0.15em solid rgb(var(--secondary-general-clr-400));
  padding: 1.8rem 2.2rem;
  border-radius: 1em;
}

#btn:hover {
  background-color: rgb(var(--secondary-general-clr-800));
  color: rgb(var(--secondary-general-clr-100));
  box-shadow: 0 0.25rem 8px 8px rgb(var(--main-bg-clr));
}

#btn:active {
  background-color: rgb(var(--primary-general-clr-800));
}

.library-display {
  height: 100%;
  grid-row: 2 / 4;
  padding: 2rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  grid-auto-flow: column;
  grid-auto-columns: minmax(25%, 1fr);
  column-gap: 2rem;
  overflow-x: auto;
  overflow-y: hidden;

  border-radius: var(--secondard-brd-rad);
  background-color: rgb(var(--primary-general-clr-400));
}

.card {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-rows: repeat(4, 1fr);

  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  gap: var(--gap-md);

  font-size: var(--font-sm);
  overflow-x: auto;
}

.card.read {
  background: rgb(var(--main-bg-clr));
  border: 0.65em solid;
  border-image: linear-gradient(rgb(var(--success-clr-100)), rgb(var(--success-clr-400))) 20;
}

.card.not-read {
  background: rgb(var(--main-bg-clr));
  border: 0.65em solid;
  border-image: linear-gradient(rgb(var(--failure-clr-100)), rgb(var(--failure-clr-400))) 20;
}

.book-name,
.book-author,
.book-length {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: 0 2rem;
  white-space: nowrap;
}

.card-label {
  flex: 1;
  font-size: max(1rem, --font-md);
  font-weight: bold;
}

.card-info {
  flex: 1;
  font-size: max(1rem, --font-md);
  font-weight: 500;

  border-left: 0.15em solid rgb(var(--primary-general-clr-800));
  border-radius: 0.8em;

  padding: 0 0 0 0.75em;
}

.button-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(2em + 1%);
}

.button-section button {
  flex: 0 1 8em;
  height: 2em;
  border: none;
  outline: none;
  border: 0.15em solid rgb(var(--failure-clr-400));
  background-color: rgb(var(--failure-clr-100));
  border-radius: 0.65em;
}

.button-section button:hover {
  background-color: rgb(var(--secondary-general-clr-400));
}

.button-section:active {
  background-color: rgb(var(--primary-general-clr-800));
}